.bodygrid{
background-color: #EBF1EF;
border: #FFFFFF;
}

.container{
  background-color: #EBF1EF;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.1rem;
  align-items: center;
  margin: 20px ;
  padding: 20px;
  box-sizing: border-box;
  
} 
.textgrid{
width: 344px;
margin-bottom: 20px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 22px;
color: #000000;
}
.btn-explore{

   position: relative;
    right: 0.3px;
    bottom: 35px;
    color: #FFFFFF;
  background-color: #00945E;
  border-radius: 5px

} 

.btn:hover {
  color: #FFFFFF;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

 /* .img-fluid {
  height: 400px;
}  */

.img-img {
  height: auto;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .grid-container {
  display: grid;
  grid-template-columns: 1fr ;
  grid-column-gap: 0.1rem;
  align-items: center;
  margin: 10px ;
  padding: 10px;
  box-sizing: border-box;
}
.bodygrid{
background-color: #EBF1EF;
}
.textgrid{
width: 344px;
margin-bottom: 20px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 22px;
color: #000000;
}
}


@media only screen and (min-width: 480px) {
  .grid-container {
  display: grid;
  grid-template-columns: 1fr ;
  grid-column-gap: 0.1rem;
  align-items: center;
  margin: 10px ;
  padding: 10px;
  box-sizing: border-box;
}
.bodygrid{
background-color: #EBF1EF;
}
.textgrid{
width: 344px;
margin-bottom: 20px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 22px;
color: #000000;
}
}


@media only screen and (max-width: 1200px) {
  .grid-container {
  display: grid;
  grid-template-columns: 1fr ;
  grid-column-gap: 0.1rem;
  align-items: center;
  margin: 10px ;
  padding: 10px;
  box-sizing: border-box;
}
.bodygrid{
background-color: #EBF1EF;
}
.textgrid{
width: 344px;
margin-bottom: 20px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 22px;
color: #000000;
}
}






