* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.reponsive-div {
  width: 80%;
  margin: 0 auto;
}
.banner{
	background: #00945e;
  padding: 20px 10px;
  color: white;
}
.logo-banner{
	padding: 10px;
  background-image: url('./img//construction.png');
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  padding: 10px 15px 0px 70px;
  color: black;
  position: relative;
}
.logo-banner img{
  width: 30%;
}

.tab-trigger{
  margin:auto;
  width: 860px;
  padding: -8px 30px 0px 20px;
  display: flex;
  position: absolute;
  top: 338px;
}
.tab-trigger ul{
  padding: 0;
  list-style: none;
}
.tab-trigger ul li{
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  border-bottom: 1px;
}
.tab-trigger ul li a{
  text-decoration: none;
  color: #000000;
  background: #e5e5e5;
  padding: 18px;
  display: block;
  text-align: center;

}
.tab-trigger ul li a#active{
  text-decoration: none;
  background: white;
}
.tab-trigger ul li a:hover{
  text-decoration: none;
  color: #00945e;
  background-color: white;
  -moz-transition: background-color 200ms ease-in;
  -webkit-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
  cursor: pointer;
}

.tab-trigger ul li a#onlink{
  background: #ffffff;
  color: #00945e;
}
/*.tab-trigger ul li a#onlink:hover{
  background: #ffffff;
  color: #00945e;
}*/
.table-div{
  width: 100%;
  border:0;

}
.table-row{
  column-gap: 1em;
  border-collapse: collapse;
  border-radius: 1em;
}
.td1{
  border: none;
  column-gap: 1em;
  margin-left: 8px;
}
.td2{
  border: none;
  margin-left: 8px;
}
.td3{
  border: none;
  margin-left: 8px;

}
.td4 a{
  color:#00945e;
}
.main-container{
  margin:auto;
  margin-top: 10px;
  width: 100%;
  padding: 10px 70px;
  border: none;
  border-top: none;
  background: #ffffff;
}
.main-container:nth-of-type(3){
  margin-top: 40px;
}
/*.columns{
  padding-top: 45px;
  float: left;
  column-width: 185px;
  column-gap: 1em;
  column-count: 5;
  
}*/
/*.columns p{
  margin-top: 0;
}*/
article{
  line-height: 24px;  

}

/*.main-container tr{
  padding-top: 10px;
  margin:auto;
}*/
/*.main-container p{
  font-family: Lato;
font-style: normal;
font-weight: 1em;
font-size: 18px;
line-height: 30px;
}*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
        
      
        